<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/main.css')}}">
    <title>Machine Learning Loan Application</title>
</head>

<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="background-color: rgb(255,255,255);" href="index.html">Machine Learning Loan Application</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            VISUALIZATIONS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="WebVisualizations/tableau.html">Tableau</a>
                            <a class="dropdown-item" href="WebVisualizations/machine-learning.html">Machine Learning</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="WebVisualizations/data.html">DATA</a>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="box" style="padding-bottom: 20px;">
                    <h3 class="title">Machine Learning Loan Application </h3>
                    <hr>
                    <img src='{{url_for("static", filename="resources/Financial_loan_pic.png")}}' alt="Finance Pic" style="width:100%" class="w3-hover-opacity"/>
                    
                    <p> Processing loans are a critical part of the core business for banks and various other financial institutions. The main profit comes from the loans interest. Financial institutions grant loans after they verify, validate and approve an applicant. Approving an applicant is risky as the company issuing the loan doesn't have assurance if the applicant will or has the ability to pay back the loan. 

                        <br>
                        For this project we wanted to build a predictive model using machine learning to help automate the process of targeting the right applicants and determing if they will be approved for a loan. 
                        <br>
                        <br>
                        Hypothesis: We predict that their will be a high correlation between debt to income ration, credit utilization rates, credit history and number of credit problems for the applicants that get approved.
                        <br>
                        <br>
                        Variables for Exploration:  Credit utilization rates, debt to income ratio, credit history, years in current job and number of credit problems.                  
                    </p>
                    <div class="box ">
                        <h3 class="title ">MODELS USED</h3>
                        <hr>
                        <div class="container ">
                            <div class="row ">
                                <p>
                                    <br>Scikit-Learn <br> Python Pandas<br> Python Matplotlib<br> HTML/CSS/Bootstrap
                                    <br> Tableau
                                    <br> Feature Engineering for Machine Learning<br>
                            </div>
                        </div>
                        <div class="col-lg-5 col-mt-12 ">
                            <div class="box ">
                                <h3 class="title ">VISUALIZATIONS</h3>
                                <hr>
                                <div class="container ">
                                    <div class="row " style="padding-bottom: 70px; ">
                                        <div class="col-6 ">
                                            <div class="title ">TABLEAU <br> ANALYSIS</div>
                                            
                                        </div>
                                        <div class="col-6 ">
                                            <div class="title ">MACHINE LEARNING</div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </p>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <h3 class="title ">My Loan Approval Prediction</h3>
                    <form method="POST" action="/model" role="form", name="petform">
                        
                        <div class="form-group">
                            <label for="inputName">Credit Score</label>
                            <input type="text" class="form-control" id="inputCreditScore" name="CreditScore" placeholder="Credit Score">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="inputLat">Annual income</label>
                            <input type="text" class="form-control" id="inputAnnualIncome" name="AnnualIncome" placeholder="Annual Income">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="inputLat">Current Loan Amount</label>
                            <input type="text" class="form-control" id="inputRate" name="CurrentLoanAmount" placeholder="Current Loan Amount">
                        </div>  
                        <br>          <input type="submit" value="Submit" class="btn btn-primary">  
                      </form>
                    <br> 
                    <div style= "color:black"> 
                    
                    Your loan was {{prediction}}

                    </div>  
                </div>
            </div>
        </div>
    </div>
    <footer> Final Project - Amy, British, Julian, Karina, Kris and Rei</footer>
</body>

</html>